.modal-body
{
	background: #f1f1f1;
}

.main11
{
	margin: 0px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	float: left;
	height: auto;
}

.login-para
{
	border-bottom: 2px solid #C8D209!important;
    margin: 0px 0px 15px 0px;
    padding: 5px 5px;
    height: auto;
    background: #C1CA10!important;
    line-height: 35px;
    font-size: 16px;
    color: White;
    width: 100%;
    box-sizing: border-box;
}

.login-table
{
	width: 100%;
	height: auto;
	border-spacing: 0px;
	font-family: Ebrima;
	color: #333333;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 13px;
}

	.login-table td
	{
		color: #797777;
		font-size: 16px;
	}

	.login-table .form-control
	{
		margin-bottom: 7px;
		-webkit-border-radius: 0 0 0 0;
		border-radius: 0 0 0 0;
	}

	.login-table .btn
	{
		margin-top: 10px;
		-webkit-border-radius: 0 0 0 0;
		border-radius: 0 0 0 0;
	}



.btn-danger {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
}

.btn-primary {
    background-image: none;
    background-image: none;
    background-image: none;
}